.picker_button
{
	position: absolute;
	min-width: 37px;
	height: 37px;
	line-height: 37px;
	display: inline-block;
	overflow: hidden;
	border-radius: 3px;

	padding-left: 10px;
	padding-right: 10px;

	background-image: linear-gradient(#ffffff 0%, #F6F6F6 30%, #F3F3F3 45%, #EDEDED 60%, #eeeeee 100%);
}

.picker_button[isPressed = 'true']
{
	background-color: #285772;

	background-image: linear-gradient(#acc5e9 0%, #a3c0f2 18%,#61a0ed 39%, #55a3f2 70%, #82c2f1 91.72%, #9AD2F2 100%);
}

.picker_button_text
{
	width: 100%;
	height: 100%;
}


