#view_app
{
	background-color: var(--color_view_bg);
	color: var(--color_text);
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;
    bottom: 0;
    overflow: hidden;
    border-radius: 0px;
}

#view_app[state = 'showWithAnimation']
{
    transition: all 0.3s ease 0s;
    opacity: 1;
}

#view_app[state = 'hideWithAnimation']
{
    transition: all 0.3s ease 0s;
    opacity: 0;
}

#view_app[state = 'showWithoutAnimation']
{
    opacity: 1;
}

#view_app[state = 'hideWithoutAnimation']
{
    opacity: 0;
}
